<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <type name="Magento\Theme\Block\Html\Footer">
        <plugin name="plugin_inject_variables_Into_Blocks_example"
                type="Openiz\PluginInjectVariable\Plugin\InjectVariablesIntoBlocks"/>
    </type>
</config>
